.square-menu{
    padding: 16px 24px;
    text-align: center;
    max-width: 128px;
    max-height: 128px;
    margin: auto;

    ion-label{
        font-size: 0.7rem;
    }

    img{
        // height: 40px;
        margin: auto;
        margin-bottom: 4px;
    }
}