<ion-grid>
    <ion-row class="ion-justify-content-between">
        <ion-col>
            <ion-card class="square-menu" button (click)="cardClick()">
                <img src="https://img.icons8.com/cute-clipart/64/000000/tear-off-calendar.png" alt=""> 
                <ion-label>Events</ion-label>
            </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="square-menu" button (click)="cardClick()">
              <img src="https://img.icons8.com/cute-clipart/64/000000/user-male.png" alt=""> 
              <ion-label>Account</ion-label>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="square-menu" button (click)="cardClick()">
              <img src="https://img.icons8.com/cute-clipart/50/000000/settings.png" alt=""> 
              <ion-label>Settings</ion-label>
          </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>


