<ion-grid>
    <ion-row class="">
        <div class="horizontal-scroll" scrollX="true" style="width:100%">
            <ion-card class="square-menu" button (click)="openMyEvent()">
                <img src="../../../assets/bg_event.jpg" alt="eventbg"> 
                <div class="foreground">
                    <h2>Events</h2>
                </div>
            </ion-card>

            <ion-card class="square-menu" button (click)="cardClick()">
                <img src="../../../assets/bg_event.jpg" alt="eventbg"> 
                <div class="foreground">
                    <h2>Discover</h2>
                </div>
            </ion-card>
            <ion-card class="square-menu" button (click)="cardClick()">
                <img src="../../../assets/bg_other.jpg" alt="eventbg"> 
                <div class="foreground">
                    <h2>Profile</h2>
                </div>
            </ion-card>
        </div>
        
    </ion-row>
</ion-grid>