.add-btn {
    --padding-start: 4px;
    --padding-end: 4px;
    --border-radius: 50%;
    margin-right: 8px;
}

.fake-skeleton{
    width: 60%
}

ion-title {
    font-family: 'Comfortaa';
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}