<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="shape-bg"></div>
  <div class="profile-wrap">
    <ion-avatar class="main-avatar">
      <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png">
    </ion-avatar>
    <div class="profile-header">
      <app-profile-item></app-profile-item>
    </div>
    <ion-row>
      <ion-col>
        <ion-button float-right fill="clear" class="btn-msg" size="small" shape="round" (click)="onClick()">
          UPGRADE
        </ion-button>
      </ion-col>
      <ion-col>
          <ion-button float-left fill="clear" class="btn-logout" size="small" shape="round" (click)="logout()">
            LOG OUT
          </ion-button>
      </ion-col>
    </ion-row>
    <div class="menu-wrapper">
      <app-profile-menu></app-profile-menu>
    </div>
  </div>


  
</ion-content>
  