<ion-content fullscreen padding scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <img src="./assets/slide-1.png"/>
      <h2>Welcome to <b>ELEVENT</b></h2>
      <p>Slide to the next page to experience a amazing way to find an event!</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slide-2.png"/>
      <h2>What is élevent?</h2>
      <p>It is an app to help you publish, and find a wonderful event for you to attend! We give you all the information you need!</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/slide-3.png"/>
      <h2>Ready to Explore?</h2>
      <ion-button fill="clear" (click)="onClick()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
