<ion-tabs selectedIndex="1" #tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [ngClass]="(selectedTab == 'home') ? 'tab-selected' : ''" (click)="changeTab('home')">
        <ion-icon name="md-home"></ion-icon>
      </ion-tab-button>

      <!-- Use a new page, do not include tabs. -->
      <ion-tab-button (click)="goToPublishForm();" class="">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button [ngClass]="(selectedTab == 'profile') ? 'tab-selected' : ''" (click)="changeTab('profile')">
          <ion-icon name="md-person"></ion-icon>
    
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>