
h3{
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 8px;
}

.subtitle{
    font-size: 0.8rem;
    line-height: 6px;
    color: #acacac;
}

.edit-btn{
    font-size: 0.8rem;
    color: #acacac;
    text-transform: none;
}

ion-grid, ion-col{
    padding: 5px 0px;
}