ion-header ion-button{
    --background-hover:transparent !important;
    
}

ion-toolbar{
    --background: rgb(255,158,111);
    // --color: white;
}

ion-title{
    text-transform: lowercase;
    font-family: 'Comfortaa';
    font-weight: bold;
}

.circle-bg{
    background: linear-gradient(to bottom, #ff5f6d, #ffc371);
    border: 1px solid transparent;
    border-radius:100%;
    position:absolute;
    width: 180%;
    height: 80%;
    top: -50%;
    left: -40%;
    z-index: 0;
}

.item-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    font-size: 0.8rem;
    line-height: 0px;
    z-index: 10;
    span{
        z-index: 10;
    }

    ion-button{
        text-transform: none;
        font-size: 0.7rem;
        height: 24px;
    }
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 32px;
    app-event-card {
        display: inline-block;
        height: 120px;
    }
}



::-webkit-scrollbar {
    display: none;
}

