ion-header ion-button{
    --background-hover:transparent !important;
    
}

ion-toolbar{
    --background: #eee;
    // --color: white;
}

ion-title{
    text-transform: lowercase;
    font-family: 'Comfortaa';
    font-weight: bold;
    color: white;
}

.home-header{
    z-index: 100;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circle-bg{
    background-color: var(--ion-color-dark-blue);
    border: 1px solid transparent;
    border-radius:100%;
    position:absolute;
    width: 180%;
    height: 90%;
    top: -40%;
    left: -100%;
    z-index: 0;
}

.item-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    font-size: 0.8rem;
    line-height: 0px;
    z-index: 10;
    span{
        z-index: 10;
    }

    ion-button{
        text-transform: none;
        font-size: 0.7rem;
        height: 24px;
    }
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 32px;
    app-event-card {
        display: inline-block;
        height: 120px;
    }
}

.text-light{
    color: #ffffff;
}



::-webkit-scrollbar {
    display: none;
}

