<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="square-menu" button (click)="openMyEvent()">
          <img src="../../../assets/bg_event.jpg" alt="eventbg"> 
          <div class="foreground">
              <h2>My Events</h2>
          </div>
      </ion-card>
    </ion-col>
    <ion-col>
        <ion-card class="square-menu" button (click)="openMyEvent()">
            <img src="../../../assets/bg_other.jpg" alt="eventbg"> 
            <div class="foreground">
                <h2>Profile</h2>
            </div>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card class="square-menu" button (click)="openMyEvent()">
            <img src="../../../assets/bg_event.jpg" alt="eventbg"> 
            <div class="foreground">
                <h2>Settings</h2>
            </div>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

