ion-item {
    margin: 16px 0px;
    --inner-padding-end: 0px;
    --inner-padding-start:0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-inner-bottom: 0px;
    --padding-bottom: 0px;

    app-event-card{
        padding: 4px 0px;
    }
}
