<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <!-- Chat Button? Or what? -->
                <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!-- Replace title with elevent logo. -->
        <ion-title class="ion-text-center">Elevent</ion-title> 
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
