ion-title {
    font-family: 'Comfortaa';
    font-weight: bold;
}

ion-button{
    --background: var(--ion-color-blue);
    // --background-hover: var(--ion-color-purple-tint);
    --background-hover: var(--ion-color-blue);
    --background-activated: var(--ion-color-blue-tint);
}